<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.julian.jotihunt">

    <!-- Add permissions here -->
    <uses-feature android:name="android.hardware.type.watch" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- Application information -->
    <application
        android:name="com.julian.jotihunt.logics.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.DeviceDefault">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name="com.julian.jotihunt.activities.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.julian.jotihunt.activities.MapsActivity"/>
        <service android:name="com.julian.jotihunt.logics.ListenerService"/>
    </application>

</manifest>